<a href="https://colab.research.google.com/github/vitm31/Python_Practice/blob/master/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello")

Hello

In [0]:
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

33

In [0]:
def square(num):
  """
  this function will give square of any given number
  """
  return num*num

In [0]:
print(square(30))

900

In [0]:
print(square.__doc__)

  this function will give square of any given number

In [0]:
for i in range(1,4):
  print(i)

1
2
3

In [0]:
integer_number,decimal_number,string_value=10,22.7,"veer"
print(integer_number,decimal_number,string_value)

10 22.7 veer

In [0]:
variable1=variable2=variable3="all variables have same value"
print(variable1,variable2,variable3)

all variables have same value all variables have same value all variables have same value

In [0]:
print(id(integer_number))
print(id(decimal_number))

10914784
139635334252704

In [0]:
print(id(variable1))
print(id(variable2))

139635324716256
139635324716256

In [0]:
data1=12
data2=25.7
data3=10+20j

In [0]:
print("data1 is of type:",type(data1))
print("data2 is of type:",type(data2))
print("10+20j is of type complex?", isinstance (data3,complex))

data1 is of type: <class 'int'>
data2 is of type: <class 'float'>
10+20j is of type complex? True

In [0]:
print("30+40j is of type complex?",isinstance(30+40j,complex))

30+40j is of type complex? True

In [0]:
boolean_variable=True
print(type(boolean_variable))

<class 'bool'>

In [0]:
string_variable="This is string variable"
print("String variable is:",string_variable)

String variable is: This is string variable

In [0]:
print("First charac is:",string_variable[0])

First charac is: T

In [0]:
string_variable[5:]

'is string variable'

In [0]:
my_list=[1,5,"Third element",12.4,20+10j,True]

In [0]:
print(my_list)
my_list[2]

[1, 5, 'Third element', 12.4, (20+10j), True]

'Third element'

In [0]:
my_list[2]="element three"
print(my_list)

[1, 5, 'element three', 12.4, (20+10j), True]

In [0]:
my_list.append(59.24)

In [0]:
my_list

[1, 5, 'element three', 12.4, (20+10j), True, 59.24]

In [0]:
my_list.remove(12.4)
my_list.pop(2)

'element three'

In [0]:
my_list

[1, 5, (20+10j), True, 59.24]

In [0]:
my_tuple=(10,20,30,"my_text")

In [0]:
my_tuple[2]

30

In [0]:
my_tuple[3]=40

TypeError: ignored

In [0]:
my_set={10,20,30,20,40,50,40}
my_set

{10, 20, 30, 40, 50}

In [0]:
my_set[3]

TypeError: ignored

In [0]:
my_dictionary={"key1":"value1","key2":"value2","key3":"value3"}
print(my_dictionary["key2"])
my_dictionary["key2"]=20

value2

In [0]:
my_dictionary

{'key1': 'value1', 'key2': 20, 'key3': 'value3'}

In [0]:
print(int(5.5))
print(int("5"))

5
5

In [0]:
print(int(10+30j))

TypeError: ignored

In [0]:
print(float(6))

6.0

In [0]:
print(int("5.6"))

ValueError: ignored

In [0]:
my_new_string="text1"+20+"text2"

TypeError: ignored

In [0]:
my_new_string="text1 "+str(20)+ " text2"

In [0]:
print(my_new_string)

text1 20 text2

In [0]:
my_list=["a","b","c","c"]
print(type(my_list))
my_set=set(my_list)
print(my_set)
print(type(my_set))

<class 'list'>
{'c', 'a', 'b'}
<class 'set'>

In [0]:
my_string=("string to list conversion")
print(type(my_string))
my_list=list(my_string)
print(my_list)
print(type(my_list))

<class 'str'>
['s', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't', ' ', 'c', 'o', 'n', 'v', 'e', 'r', 's', 'i', 'o', 'n']
<class 'list'>

In [0]:
my_int1=20
my_int2=40
print("my_int1:{} is half of my_int2:{}".format(my_int1,my_int2))

my_int1:20 is half of my_int2:40

In [0]:
print("my_int2:{1} is double of my_int1:{0}".format(my_int1,my_int2))

my_int2:40 is double of my_int1:20

In [0]:
print("welcome {} to the class of {}".format("veer","datascience"))

welcome veer to the class of datascience

In [0]:
print("Welcome {name} to the world of {ds}".format(name="veer",ds="data science"))

Welcome veer to the world of data science

In [0]:
user_input=input("please enter any value:")
print(user_input)

please enter any value:44
44

In [0]:
variable1, variable2 = 5, 2

print(variable1 + variable2)  # Addition(+)

print(variable1 - variable2)  # Subtraction(-)

print(variable1 * variable2)  # Multiplication(*)

print(variable1 / variable2)  # Division(/)

print(variable1 % variable2)  # Modulo division (%)

print(variable1 // variable2) # Floor Division (//)

print(variable1 ** variable2) # Exponent (**)

7
3
10
2.5
1
2
25

In [0]:
variable1, variable2 = 5, 2         

print(variable1 < variable2)   # Check if variable1 is less than variable2

print(variable1 > variable2)   # Check if variable1 is greater than variable2

print(variable1 == variable2)  # Check if variable1 is equal to variable2

print(variable1 != variable2)  # Check if variable1 is not equal to variable2 (!=)

print(variable1 >= variable2)  # Check if variable1 greater than or equal to variable2

print(variable1 <= variable2)  # Check if variable1 less than or equal to variable2

False
True
False
True
True
False

In [0]:
variable1, variable2 = True, False

print(variable1 and variable2)  # Print variable1 and variable2 

# 0 0 0
# 0 1 0
# 1 0 0
# 1 1 1

print(variable1 or variable2)  # Print variable1 or variable2

# 0 0 0
# 0 1 1
# 1 0 1
# 1 1 1

print(not variable2)           # Print not variable2

False
True
True

In [0]:
variable1, variable2 = 3, 7            # Decimal to bitwise values -> 3 - 0000 0011 & 7 - 0000 0111

print(variable1 & variable2)           # Bitwise AND ->       0000 0011 & 0000 0111 -> 0000 0011 -> 3


print(variable1 | variable2)           # Bitwise OR ->        0000 0011 | 0000 0111 -> 0000 0111 -> 7


print(~variable2)                      # Bitwise NOT ->     ~ 0000 0111 -> 1111 1000 -> -8


print(variable1 ^ variable2)           # Bitwise XOR ->       0000 0011 ^ 0000 0111 -> 0000 0100 -> 4


print(variable1>>2)                    # Bitwise rightshift   0000 0011>>2 -> 0000 0000 -> 0


print(variable1<<2)                    # Bitwise Leftshift    0000 0011<<2 -> 0000 1100 -> 12

3
7
-8
4
0
12

In [0]:
age = 40

age += 4        # Add AND  <- age = age + 4
print(age)

age -= 7        # Subtract AND (-=)
print(age)

age *= 4        # Multiply AND (*=)
print(age)

age /= 4        # Divide AND (/=)
print(age)

age %= 20       # Modulus AND (%=)
print(age)

age //= 4       # Floor Division (//=)
print(age)

age **= 4       # Exponent AND (**=)
print(age)

44
37
148
37.0
17.0
4.0
256.0

In [0]:
var1=20
var2=20
print(var1 is var2)
print(var1 is not var2)

True
False

In [0]:
list_1=[1,2,3]
list_2=[1,2,3]
print(id(list_1))
print(id(list_2))

140369376389192
140369376389960

In [0]:
print(list_1 is list_2)

False

In [0]:
print(2 in list_1)

True

In [0]:
print("b in list_2")

b in list_2

In [0]:
number=15
if number>20:
  print("inside if")
print("outside if")

outside if

In [0]:
number=20
if number>25:
  print("Inside loop")
print("outside loop")

outside loop

In [0]:
if -1:
  print("Inside if")
print("Outside if")

Inside if
Outside if

In [0]:
value=-1
print(bool(value))

True

In [0]:
age=12
if age>18:
  print("Adult")
else:
  print("child")

child

In [0]:
age=66
if age>18:
  print("adult")
elif age>14:
  print("Teen")
else:
  print("child")

adult

In [0]:
age=7
if age>14:
  if age>18:
    print("adult")
  else:
    print("Teen")
else:
  print("child")

child

In [0]:
age=1
if (age>14) and (age>18):
  print("Adult")
elif (age>14):
  print("teen")
else:
  print("child")

child

In [0]:
my_list=[1,2,3,4,5]
sum=0
index=0
while index<=len(my_list):
  sum+=index
  index+=1
print(sum)

15

In [0]:
my_list=[1,2,3,4,5]
index=0
while index<len(my_list):
  print(my_list[index])
  index+=1

1
2
3
4
5

In [0]:
my_list=[1,2,3,4,5]
index=0
while index<len(my_list):
  print(my_list[index])
  break
  index+=1
print("print eitherway")

1
print eitherway

In [5]:
new_list=[2,3,4,5,6]
index=0
while index<len(new_list):
  print(new_list[index])
  index+=1
print("done")

2
3
4
5
6
done

In [7]:
number=int(input("Enter any positive no."))
fact=1
if number>0:
  while number>0:
    
    fact*=number
    number-=1
print(fact)

Enter any positive no.5
120

In [8]:
myList = [1, 2, 3, 4, 5]
sum=0
for element in myList:
  sum+=element
print(sum)

15

In [9]:
for element in range(5):
  print(element)

0
1
2
3
4

In [11]:
for element in range(1,12,3):
  print(element)

1
4
7
10

In [12]:
names=["veer","rima","suresh"]
for name in names:
  print(name)

veer
rima
suresh

In [15]:
names=["veer","rima","suresh"]
for name in names:
  print(name)
  if name=="rima":
    break
else:

  print("completed")
print("all done")

veer
rima
all done

In [5]:
names=["veer","raju","shyam"]
for name in names:
  if name=="shyam":
    break
  print(name)

veer
raju

In [6]:
names=["veer","raju","shyam"]
for name in names:
  if name=="shyam":
    continue
  print(name)

veer
raju

In [7]:
names=["veer","raju","shyam"]
for name in names:
  if name=="raju":
    continue
  print(name)

veer
shyam

In [0]:
blankList = []                                      # Declare an empty List

listOfString = ['apple','banana']                  # List of strings

listOfNumbers = [12, 7.6,30,64]                   # List of integers
list_of_list=[[1,2,3],[4,5,6]]

In [0]:
list_mixed=[1,2,"veer",12.7]
list_=[[1,2,3],4,5]

In [10]:
print(list_of_list)
print(list_mixed)
print(list_)

[[1, 2, 3], [4, 5, 6]]
[1, 2, 'veer', 12.7]
[[1, 2, 3], 4, 5]

In [11]:
len(list_mixed)

4

In [13]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]
lstOfMixedDataTypes.insert(2,"gates")
print(lstOfMixedDataTypes)

[55.4, 'Bill', 'gates', 232, 14.4]

In [0]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfNumbers = [12, 7.6, 30, 64]

In [15]:
lstOfMixedDataTypes.append(listOfNumbers)
print(lstOfMixedDataTypes)
list_of_list.extend(list_mixed)
print(list_of_list)

[55.4, 'Bill', 232, 14.4, [12, 7.6, 30, 64]]
[[1, 2, 3], [4, 5, 6], 1, 2, 'veer', 12.7]

In [16]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

#del lstOfMixedDataTypes[2]                     # Using del keyword - index
#del lstOfMixedDataTypes[1:3]                  # Using del keyword
print(lstOfMixedDataTypes)


itemDeleted = lstOfMixedDataTypes.pop(1)        # Using pop function - index
print(itemDeleted)

print(lstOfMixedDataTypes)

[55.4, 'Bill', 232, 14.4]
Bill
[55.4, 232, 14.4]

In [17]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]


lstOfMixedDataTypes.remove(232)                 # Using remove function - value

print(lstOfMixedDataTypes)

[55.4, 'Bill', 14.4]

In [18]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

if 'Bill' in lstOfMixedDataTypes:
    print('Found in list')
    
if 131 not in lstOfMixedDataTypes:
    print('Not in the list')

Found in list
Not in the list

In [22]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]
lstOfMixedDataTypes.reverse()
print(lstOfMixedDataTypes)

[14.4, 232, 'Bill', 55.4]

In [23]:
myList = [29, 12, 4, 7, 12]
print(myList)
sorted(myList)

[29, 12, 4, 7, 12]

[4, 7, 12, 12, 29]

In [24]:
sorted(myList,reverse=True)

[29, 12, 12, 7, 4]

In [0]:
a=myList.sort()

In [29]:
print(a)

None

In [0]:
myString = "apple,banana,grapes"
splitted_list=myString.split(",")

In [31]:
print(splitted_list)

['apple', 'banana', 'grapes']

In [34]:
myString = "Let us split this string"
splitted_list=myString.split(" ")
print(splitted_list)

['Let', 'us', 'split', 'this', 'string']

In [35]:
myList = [29, 12, 4, 7, 12]

print(myList[0])                       # Access the first element from start

print(myList[-1])

29
12

In [37]:
listOfItems = [43, 2, 'Hundred', 13, 'Four',12 ,100]
print(listOfItems[:])
print(listOfItems[1:4])
print(listOfItems[:-1])

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[2, 'Hundred', 13]
[43, 2, 'Hundred', 13, 'Four', 12]

In [38]:
print (listOfItems)

print(listOfItems[::2])                                  # Stride for skipping elements

print(listOfItems[2::2])

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[43, 'Hundred', 'Four', 100]
['Hundred', 'Four', 100]

In [39]:
listOfItems1 = [43, 2, 'Hundred', 13, 'Four',12 ,100]
listOfItems2 = ['Hello', 19, 'One', 11]
joinedList = listOfItems1 + listOfItems2 

print(joinedList)

[43, 2, 'Hundred', 13, 'Four', 12, 100, 'Hello', 19, 'One', 11]

In [40]:
listOfItems3 = [12, 43, 2, 'Hundred', 13, 'Four',12 ,100]

print(listOfItems3.count(12))                           # Count number of 12 in the list

print(listOfItems3.count('Hundred'))

2
1

In [42]:
print(listOfItems3.count(43))

1

In [43]:
listOfItems3 = [12, 43, 2, 'Hundred', 13, 'Four',12 ,100]

for element in listOfItems3:
    print(element)

12
43
2
Hundred
13
Four
12
100

In [44]:
my_list=[i*i for i in range(4)]
print(my_list)

[0, 1, 4, 9]

In [47]:
my_list=[]
my_list.append([i*i for i in range(5)])
print(my_list)

[[0, 1, 4, 9, 16]]

In [46]:
print("hello")

hello

In [48]:
my_list=[]
for i in range(6):
  my_list.append(i*i)
print(my_list)

[0, 1, 4, 9, 16, 25]

In [55]:
my_matrix=[]
[my_matrix.append([j for j in range(4) for i in range(3)])]
print(my_matrix)

[[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]]

In [57]:
myList = [1, 2, 3, 4, 5, 6, 8]
sq_list=[i*i for i in myList]
print(sq_list)

[1, 4, 9, 16, 25, 36, 64]

In [59]:
comb_list=[(i,i) for i in myList]
print(comb_list)

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (8, 8)]

In [60]:
even_list=[i for i in myList if i%2==0]
print(even_list)

[2, 4, 6, 8]

In [61]:
my=[i*i for i in range(10) if i%2!=0]
print(my)

[1, 9, 25, 49, 81]

In [63]:
emptyTuple = ()                      # Create an empty tuple

myNmberTuple = (12.2, 100, 12)      # Create a tuple having numbers
print(myNmberTuple)

myMixedTuple = ('x', 'y', 100, 'h')  # Create a mixed data types tuple
print(myMixedTuple)

myNestedTuple = ('Hello', 100, ('Welcome', 12, 11), [90,'same',26,'array'])     # Create a nested tuple
print(myNestedTuple)

(12.2, 100, 12)
('x', 'y', 100, 'h')
('Hello', 100, ('Welcome', 12, 11), [90, 'same', 26, 'array'])

In [1]:
tuple_=("suchit",)
print(type(tuple_))

<class 'tuple'>

In [4]:
tuple_my=("tuple",)
type(tuple_my)

tuple

In [5]:
myTuple = ('Suchit', ('Rakesh', 'Roshni', 'Shireen'))       # Nested tuple

print(myTuple[1])
print(myTuple[1][2])

('Rakesh', 'Roshni', 'Shireen')
Shireen

In [6]:
myTuple = (10,11,12,13,14,15)

print(myTuple[2:5])                           # Slicing elements

print(myTuple[-3:])                           # Print elements from starting to 3rd last elements

print(myTuple[:])

(12, 13, 14)
(13, 14, 15)
(10, 11, 12, 13, 14, 15)

In [7]:
myTuple = (11, 22, 33, 44, [55, 66, 77]) 
print(id(myTuple))
myTuple[4][2]="Veer"
print(myTuple)
print(id(myTuple))

139751481184680
(11, 22, 33, 44, [55, 66, 'Veer'])
139751481184680

In [8]:
myTuple = (11, 22, 33) + (44, 55, 66)
print(myTuple)

(11, 22, 33, 44, 55, 66)

In [10]:
my_tuple=(("suchit",)*4)
print(my_tuple)

('suchit', 'suchit', 'suchit', 'suchit')

In [0]:
myTuple = (3, 'veer', 45, 11, 'tree', 34)

del myTuple

In [12]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

myTuple.count('Suchit')

2

In [13]:
myTuple.index(28)

5

In [14]:

myTuple = (12,3,44,245,0.2,33)
print(myTuple)

sortedTuple = sorted(myTuple)                       # Returns a new sorted list. Does not change original tuple
print(sortedTuple)

(12, 3, 44, 245, 0.2, 33)
[0.2, 3, 12, 33, 44, 245]

In [15]:
print(sum(myTuple))
print(min(myTuple))

337.2
0.2

In [16]:
mySet = set([1,2,3,4,1])                  # We can make set from a list using set() method
print(mySet)

{1, 2, 3, 4}

In [17]:
mySet.add(5)
mySet.update(["veer","shyam"])
print(mySet)

{1, 2, 3, 4, 5, 'shyam', 'veer'}

In [18]:
mySet = {11, 12, 13, 14, 15}
print(mySet)

mySet.remove(13)                   # 13 is removed from set mySet
print(mySet)


mySet.discard(14)                    # 14 is removed from set mySet
print(mySet)

{11, 12, 13, 14, 15}
{11, 12, 14, 15}
{11, 12, 15}

In [19]:
mySet = {'abc', 12, 'efg', 1, 11}

mySet.pop()                             # Removes a random element

print(mySet)

{'abc', 11, 12, 'efg'}

In [20]:
mySet = {'abc', 12, 'efg', 1, 11}

mySet.clear()                           # Empty all items in

print(mySet)

set()

In [21]:
mySet1 = {1, 2, 3, 4, 5}
mySet2 = {3, 4, 5, 6, 7}
print(mySet1 | mySet2)
print(mySet1.union(mySet2))
print(mySet1 & mySet2)
print(mySet1.intersection(mySet2))
print(mySet1-mySet2)
print(mySet1.difference(mySet2))
print(mySet1 ^ mySet2)
print(mySet1.symmetric_difference(mySet2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}
{1, 2, 6, 7}
{1, 2, 6, 7}

In [0]:
a = {1,2,3,4,5,6}
b = {2,4}

In [26]:
b.issubset(a)

True

In [27]:
mySet1 = frozenset([1, 2, 3, 4, 5])
mySet2 = frozenset([4, 5, 6, 7, 8])
print(mySet1 ^ mySet2)                        # symmetric difference

print(mySet1.symmetric_difference(mySet2))

frozenset({1, 2, 3, 6, 7, 8})
frozenset({1, 2, 3, 6, 7, 8})

In [28]:
myDict = {}                                                  # Create an empty dictionary

myIntegerKeyDict = {100:'excellent',50:'fair'}
print(myIntegerKeyDict)
 
myMixedKeysDict = {'name':'Suchit', 10:['sun','star']}    # Create a dictionary with mixed keys
print(myMixedKeysDict)


myDict = dict()                                              # Create an empty dictionary using dict() method

myDict = dict([(4,'abcd'),(2,'ab')])                      # Create a dict with list of tuples
print(myDict)

{100: 'excellent', 50: 'fair'}
{'name': 'Suchit', 10: ['sun', 'star']}
{4: 'abcd', 2: 'ab'}

In [1]:
myDict = {'name': 'veer', 'marks': 92, 'hobby': 'guitar'}

print(myDict['name']) 
print(myDict["hobby"])

veer
guitar

In [2]:
myDict["name"]="falana"
myDict["Grade"]="A"
print(myDict)

{'name': 'falana', 'marks': 92, 'hobby': 'guitar', 'Grade': 'A'}

In [4]:
myDict.pop("marks")

92

In [5]:
myDict

{'Grade': 'A', 'hobby': 'guitar', 'name': 'falana'}

In [0]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}
del keyValDict["marks"]

In [8]:
keyValDict

{'hobby': 'guitar', 'name': 'Suchit'}

In [0]:
keyValDict.clear()

In [10]:
keyValDict

{}

In [0]:
del keyValDict

In [12]:
print(myDict)

{'name': 'falana', 'hobby': 'guitar', 'Grade': 'A'}

In [13]:
copy_dict=myDict.copy()
print(copy_dict)

{'name': 'falana', 'hobby': 'guitar', 'Grade': 'A'}

In [0]:
fruits={}.fromkeys(["apple","banana","kiwi"],0)

In [15]:
print(fruits)

{'apple': 0, 'banana': 0, 'kiwi': 0}

In [16]:
temp_dict={2:3,4:5,6:7}
temp_dict.items()

dict_items([(2, 3), (4, 5), (6, 7)])

In [17]:
print(myDict.keys())
print(myDict.values())

dict_keys(['name', 'hobby', 'Grade'])
dict_values(['falana', 'guitar', 'A'])

In [18]:
fruits = {'apple': 2, 'banana': 12, 'grapes': 10}
for fruit in fruits.items():
  print(fruit)

('apple', 2)
('banana', 12)
('grapes', 10)

In [19]:
fruits={"apple":3,"banana":10,"kiwi":20}
fruits_dict={k:v for k,v in fruits.items() if v%2==0}
print(fruits_dict)

{'banana': 10, 'kiwi': 20}

In [20]:
fruits_dict={k+"royal":v*10 for k,v in fruits.items() if v%2==0}
print(fruits_dict)

{'bananaroyal': 100, 'kiwiroyal': 200}

In [21]:
myString = "Double"
print(myString[1:5])

oubl

In [24]:
string="python programming"
charcount=0
for index in string:
  if index=="p":
    charcount+=1
print(charcount)

2

In [26]:
"PYTHON".lower()

'python'

In [27]:
"python".upper()

'PYTHON'

In [29]:
"python is a good ".split()

['python', 'is', 'a', 'good']

In [30]:
string

'python programming'

In [32]:
string2=string.replace("programming","program")
print(string2)

python program

In [34]:
number=int(input("Enter any positive no."))
fact=1
if number>0:
  while number>0:
    fact*=number
    number-=1
print(fact)

Enter any positive no.6
720